<div class="tipo">
<div class="panel panel-default">
<div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_doc.nombre %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @tipo_doc.sigla %>
</p>

</div></div></div>