<div class="panel panel-default">
  <div class="panel-heading">Panel heading without title</div>
  <div class="panel-body">
    <h1>Nuevo alumno</h1>
    <%= render 'form' %>
    <%= link_to 'Atras', alumnos_path, class: "btn btn-info" %>
  </div>
</div>