<div class="manu">
    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/1qX8OrQIhljAXX" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>
