<h1>Listado acudientes</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Primer apellido</th>
      <th>Segundo apellido</th>
      <th>Nombre completo</th>
      <th>Mail</th>
      <th>Telefono</th>
      <th>Documento</th>
      <th>Tipo doc</th>
      <th>Estado civil</th>
      <th>Fch</th>
      <th>Direccion</th>
      <th>Municipio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <%= render @acudientes %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_acudiente_path, remote: true, class: "btn btn-primary btn-sm" %>
