<div class="container">
    
    <div class="titulomauiler">
        <h1>Bienvenidos</h1>
    </div>
    
    <div class="textmailer">
        <p>
            Bienvenidos a softec, un plartaforma de inovacion y desarrollo de planiacion para mejorar<br>
            las asistencia en tu institucion por favor te invitamos a ingresar a nuestro aplicativo
        </p>
        <br>
        <p>Para acceder al aplicativo da clic en el siguiente link <%= @url %></p>
        
        <br>
        <p>Gracias por inscribirse y te deseamos que pases un buen rato con nosotros !</p>
    </div>
</div>