<h1>Listado de horarios</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Asiste</th>
      <th>Fecha</th>
      <th>Curso</th>
      <th>Profesor</th>
      <th>Alumno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <%= render @horarios %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo', new_horario_path, :class => 'btn btn-default btn-sm', remote: true %>


