<div class='user'>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


<%= link_to 'Editar', edit_user_path(@user), class: "btn btn-warning" %> |
<%= link_to 'Atras', users_path, class: "btn btn-success" %>
</div>