<div class='roles'>
<div class="panel panel-info">
<div class="panel-heading"></div>
<div class="panel-body">  
  
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @role.name %>
</p>


</div>
</div>
</div>
