
<h1>Sucursales: <%= @institucion.nombre %></h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Sede</th>
      <th>Direccion</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <%= render @sucursals %>
  </tbody>
</table>


<br>

<%= link_to 'Nueva Sucursal', new_institucion_sucursal_path(@institucion), class: "btn btn-info", remote: true  %> |
<%= link_to 'Ir a instituciones', institucions_path, class: "btn btn-warning"  %> 

</div>