<footer class="footer small">
    
    <div class="col-xs-4">
        <strong>Información</strong></br>
        
            <address>
                <br>
            Administradores del Sistema</br>
            Más acerca del Sistema de Asistencia escolar</br>
            Fuentes de información del Sistema</br>
            Indicador Multidimensional de la Calidad Educativa</br>
            Utilidad del Sistema</br>
            </address>
       
    </div>

    <div class="col-xs-4">
       <address>
            <strong>Contacto</strong></br>
            <br>
            Institucion Educativa Pedro estrada</br>
            Secretaría de Educación de Itagui</br>
            Carrera 47 No. 85 -113 sanfernando</br>
            Tel&eacute;fono: <strong>(57+4) 255 5576</strong></br>
            Web: <strong><a href="http://www.iepedroestrada.net/">www.iepedroestrada.net</a></strong></br>
            Itagüí - Antioquia - Colombia
        </address>
    </div>
    
     <div class="col-xs-4">
        <ul class="list-unstyled-1">
          <li><%= link_to "Acerca",   about_path %></li>
          <li><%= link_to "Contacto", new_comentario_path %></li>
          <li><%= link_to "Ayuda",   help_path %></li>
        </ul>
    </div>

<div class="text-center">
  <p>
   &copy 2015 Software diseñado y elaborado Aprenidices del SENA, Medellín-Colombia. Derechos reservados.
  </P>
</div>


    
</footer>